.simple{
  @include container();
  @include padding-vertical-30();
  .simple-wrap{
    display:flex;
    gap: 2rem;
    .simple-text{
      width:calc(50% - 1rem);
    }
    .simple-img{
      width:calc(50% - 1rem);
      img{
        width:100%;
      }
    }
  }
}

@media #{$mobile-only-two} {
  .simple {
    .simple-wrap {
      flex-wrap:wrap;
      gap: 1rem;
      .simple-text {
        width:100%;
        order:2;
      }
      .simple-img {
        width:100%;
        order:1;
      }
      }
  }
}