<div class="simple">
    <div class="simple-wrap">
        <div class="simple-text">
            Дизайн можно создать с нуля, либо по предоставленному референсу, но в любом случае, необходимо предоставить техническое задание, с точным описанием пожеланий.
            Если у вас нет понимания того, как вам составить техническое задание, наш менеджер поможет вам сформулировать его правильно.
        </div>
        <div class="simple-img">
            <img src="../img/simpleimg.png" alt="">
        </div>
    </div>
</div>