<div class="detail-portfolio">
    <div class="detail-portfolio-wrap">
        <div class="detail-portfolio__imgs">
            <div class="detail-portfolio__img">
                <img src="../img/detail1.png" alt="">
            </div>
            <div class="detail-portfolio__img">
                <img src="../img/detail2.png" alt="">
            </div>
            <div class="detail-portfolio__img">
                <img src="../img/detail2.png" alt="">
            </div>
            <div class="detail-portfolio__img">
                <img src="../img/detail3.png" alt="">
            </div>
        </div>
        <div class="detail-portfolio__text">
            <div class="sub-title">
                Название проекта
            </div>
                <p>Задача проекта заключается в разработке и применении оригинального дизайна трафарета на куртку-бомбер. Основные этапы выполнения задачи включают:
                    Разработка уникального дизайна, который будет гармонично сочетаться с общим стилем куртки.
                    Подбор подходящих материалов и красок для трафаретной печати, обеспечивающих долговечность и стойкость к стирке.
                    Точное нанесение трафаретного рисунка на куртку-бомбер с использованием профессионального оборудования.
                    Проведение контроля качества для обеспечения равномерного и качественного нанесения рисунка.
                    Финальная проверка готового изделия на соответствие всем требованиям и ожиданиям заказчика.
                </p>

            <div class="portfolio-wrap">
            <div class="portfolio-slaider">
                <div class="swiperportfolio">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <img src="../img/portimg.png" alt="">
                            <div class="portfolio__block-title">Название проекта</div>
                        </div>

                        <div class="swiper-slide">
                            <img src="../img/portimg.png" alt="">
                            <div class="portfolio__block-title">Название проекта</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="../img/portimg.png" alt="">
                            <div class="portfolio__block-title">Название проекта</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="../img/portimg.png" alt="">
                            <div class="portfolio__block-title">Название проекта</div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    {#                    <div class="swiper2-button-next"><img src="../img/chevron-lefts.svg" alt=""></div>#}
                    {#                    <div class="swiper2-button-prev"><img src="../img/chevron-rights.svg" alt=""></div>#}

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="portfolio__blocks ">
                <div class="portfolio__block">
                    <img src="../img/portimg.png" alt="">
                    <div class="portfolio__block-title">Название проекта</div>
                </div>
                <div class="portfolio__block">
                    <img src="../img/portimg.png" alt="">
                    <div class="portfolio__block-title">Название проекта</div>
                </div>
                <div class="portfolio__block">
                    <img src="../img/portimg.png" alt="">
                    <div class="portfolio__block-title">Название проекта</div>
                </div>
                <div class="portfolio__block">
                    <img src="../img/portimg.png" alt="">
                    <div class="portfolio__block-title">Название проекта</div>
                </div>
                <div class="portfolio__block">
                    <img src="../img/portimg.png" alt="">
                    <div class="portfolio__block-title">Название проекта</div>
                </div>
                <div class="portfolio__block">
                    <img src="../img/portimg.png" alt="">
                    <div class="portfolio__block-title">Название проекта</div>
                </div>
            </div>

            </div>



        </div>
    </div>
</div>