<div class="jurnal-main">
    <div class="sub-title">
        Журнал Mockuper
    </div>
    <div class="sub-subtitle">
        Наша компания разрабатывает принты под разные нужны, для производителей самой разной одежды,
        аксессуаров, организаций рекламных компаний, и многое другое.
        После выполненной работы, мы предоставляем файл исходник,
        и инструктируем если есть какие-либо известные нам нюансы.
    </div>
    <div class="jurnal-main-select">
        <ul>
            <li>За все время</li>
            <li>2022</li>
            <li>2023</li>
            <li>2024</li>
        </ul>
    </div>
    <div class="jurnal-main-wrap">
        <div class="jurnal-main__blocks">

            <div class="jurnal-main__block">
                <div class="jurnal-main__block-img">
                    <img src="../img/jurnalimg.png" alt="">
                    <div class="jurnal-main__block-text">
                        Печать на тканях разных видов: какую ткань выбрать.
                    </div>
                </div>
{#                <div class="jurnal-main__block-bottom">#}

                    <div class="jurnal-main__block-date">
                        16 июня 2024
                    </div>
{#                </div>#}

            </div>
            <div class="jurnal-main__block">
                <div class="jurnal-main__block-img">
                    <img src="../img/jurnalimg.png" alt="">
                    <div class="jurnal-main__block-text">
                        Основные виды и способы печати по ткани
                    </div>
                </div>
                {#                <div class="jurnal-main__block-bottom">#}

                <div class="jurnal-main__block-date">
                    16 июня 2024
                </div>
                {#                </div>#}

            </div>
            <div class="jurnal-main__block">
                <div class="jurnal-main__block-img">
                    <img src="../img/jurnalimg.png" alt="">
                    <div class="jurnal-main__block-text">
                        Основные виды и способы печати по ткани
                    </div>
                </div>
                {#                <div class="jurnal-main__block-bottom">#}

                <div class="jurnal-main__block-date">
                    16 июня 2024
                </div>
                {#                </div>#}

            </div>
            <div class="jurnal-main__block">
                <div class="jurnal-main__block-img">
                    <img src="../img/jurnalimg.png" alt="">
                    <div class="jurnal-main__block-text">
                        Основные виды и способы печати по ткани
                    </div>
                </div>
                {#                <div class="jurnal-main__block-bottom">#}

                <div class="jurnal-main__block-date">
                    16 июня 2024
                </div>
                {#                </div>#}

            </div>
            <div class="jurnal-main__block">
                <div class="jurnal-main__block-img">
                    <img src="../img/jurnalimg.png" alt="">
                    <div class="jurnal-main__block-text">
                        Основные виды и способы печати по ткани
                    </div>
                </div>
                {#                <div class="jurnal-main__block-bottom">#}

                <div class="jurnal-main__block-date">
                    16 июня 2024
                </div>
                {#                </div>#}

            </div>
            <div class="jurnal-main__block">
                <div class="jurnal-main__block-img">
                    <img src="../img/jurnalimg.png" alt="">
                    <div class="jurnal-main__block-text">
                        Основные виды и способы печати по ткани
                    </div>
                </div>
                {#                <div class="jurnal-main__block-bottom">#}

                <div class="jurnal-main__block-date">
                    16 июня 2024
                </div>
                {#                </div>#}

            </div>
            <div class="jurnal-main__block">
                <div class="jurnal-main__block-img">
                    <img src="../img/jurnalimg.png" alt="">
                    <div class="jurnal-main__block-text">
                        Основные виды и способы печати по ткани
                    </div>
                </div>
                {#                <div class="jurnal-main__block-bottom">#}

                <div class="jurnal-main__block-date">
                    16 июня 2024
                </div>
                {#                </div>#}

            </div>
            <div class="jurnal-main__block">
                <div class="jurnal-main__block-img">
                    <img src="../img/jurnalimg.png" alt="">
                    <div class="jurnal-main__block-text">
                        Основные виды и способы печати по ткани
                    </div>
                </div>
                {#                <div class="jurnal-main__block-bottom">#}

                <div class="jurnal-main__block-date">
                    16 июня 2024
                </div>
                {#                </div>#}

            </div>
        </div>
    </div>
</div>


