<div class="contacts">
    <div class="sub-title">
        Контакты
    </div>
    <p>Оставьте свой телефон – получите дизайн, о котором мечтали!</p>
    <div class="contacts-forms">
        <form action="">
            <div class="contacts-input-wrap">
                <div class="contacts-input-top">
                    <div class="contacts-input">
                        <input type="text" value="Имя">
                    </div>
                    <div class="contacts-input">
                        <input type="tel" value="Телефон">
                    </div>
                    <div class="contacts-input">
                        <input type="email" value="Почта">
                    </div>
                </div>
                <div class="contacts-input-middle">
                    <div class="contacts-input">
                    <textarea name="comment" id="" placeholder="Сообщение">

                    </textarea>
                    </div>
                </div>
            </div>
            <div class="contacts-submit">
                <input type="submit" value="Отправить сообщение">
            </div>

        </form>
    </div>
    <div class="contacts-wrap">
        <div class="contacts-map">
            <div class="contacts-block-map">
                <div class="contacts-block-map__img">
                    <img src="../img/logomapp.svg" alt="">
                </div>
                <div class="contacts-block-map__regim">
                    Режим работы<br>
                    Пн.–Пт.: с 9:00 до 18:00
                </div>

                <div class="contacts-block-map__phone">
                    Телефон<br>
                    +7 (800) 350-70-56<br>
                    +7 (800) 350-70-56
                </div>

                <div class="contacts-block-map__email">
                    E-mail <br>
                    admin@mockuper.ru
                </div>
                <div class="contacts-block-map__send">
                    <input type="text" value="Написать сообщение">
                </div>
            </div>

            <img src="../img/contactimg.png" alt="">
        </div>
    </div>
</div>